@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{

    overflow-x: hidden;

     font-family: 'Open Sans', sans-serif;
     background: #eee;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    
 
}

label.logo{
    color:white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 0px;
    text-shadow: 2px 2px 5px #333;

}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    float:left;
    line-height: 80px;
    margin: 0 5px;
    text-shadow: 2px 2px 5px #333;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
    border-radius: 5px;
}

.banner-card{
    position: relative;
    background-color: #0067b7;
    height: auto;
}

.banner-card img{
    max-width: 100%;    
}

.banner-text{
    position: absolute;
    top: 55%;
    color: white;
    padding: 10px;

}

.banner-text p{
    margin-left: 20px;
    font-size: 20px;
}

.banner-text h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 20px;
}

.donate-button{
    display: inline-block;
    text-decoration: none;
    color:white;
    background: #0082e6;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 55px;
}
.donate-button:hover{
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}
.donate-button.cta{
    border:1px solid #f5dca8;
    color: white;
    background: transparent;
    margin-left: 20px;
}
.donate-button.cta i{
    margin-right: 12px;
}
.donate-button.cta:hover{
    color: black;
    background: white;
    border: 1px solid white;
    transition: .4s;
}


/***** FORM Login Section *****/ 
.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
    margin-top: 5rem;
 }
 h2.h2donate{
  
    display: block;
    text-align: center;
    justify-content: center;
    margin: 5px;
}
 .form-container form{
    background-color: rgba(255, 255, 255, 0.05);
   border: 1px solid rgba(255, 255, 255, 0.1);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(20px);
   width: 50vw;
   position: relative;
   padding: 2rem 1rem;
   border-radius: 10px;
 }
 
 .form-container form h3{
    text-align: center;
    text-transform: uppercase;
    color: #005792;
    font-size: 1.5rem;
    margin-bottom: 2rem
 }
 
 .form-container form input,
 .form-container form select{
    background-color: rgba(255, 255, 255, 0.05);
   border: 1px solid rgba(255, 255, 255, 0.1);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(20px);
   border: 1px solid #c7b3f5;
    width: 100%;
    padding:10px 15px;
    font-size: 17px;
    margin:8px 0;
    
    border-radius: 5px;
 }
 .form-container form sup{
    color: red;
 }
 .form-container form select option{
    background: #fff;
 }
 
 .form-container form .form-btn{
    background: #0082e6;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
 }
 
 .form-container form .form-btn:hover{
    background: #005792;
    color:#fff;
 
 }
 
 .form-container form p{
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 20px;
    color:#333;
 }
 
 .form-container form p a{
    color:#e382c5;
 }
 
 .form-container form .error-msg{
    margin:10px 0;
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
 }
 
 /***** End Section *****/

 /*donation form*/

/* Add some basic styling to the form */
.form_donation {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form_donation label {
    display: block;
    margin-bottom: 10px;
}

.form_donation input[type="number"], .form_donation select, .form_donation textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form_donation select {
    padding: 10px 20px;
}

.form_donation textarea {
    height: 100px;
    padding: 10px;
    resize: vertical;
}

.form_donation input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #0067b7;
    ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form_donation input[type="submit"]:hover {
    background-color: #3e8e41;
}


/* Style for payment input fields */
#paypal-payment-details input, 
#mpesa-payment-details input, 
#bank-transfer-payment-details input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for payment input fields on focus */
#paypal-payment-details input:focus, 
#mpesa-payment-details input:focus, 
#bank-transfer-payment-details input:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for payment labels */
#paypal-payment-details label, 
#mpesa-payment-details label, 
#bank-transfer-payment-details label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style for payment input fields error messages */
#paypal-payment-details input:invalid, 
#mpesa-payment-details input:invalid, 
#bank-transfer-payment-details input:invalid {
    border-color: #f00;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}
 /**/



 /*Donation succesful message animation*/

 .successful {
    animation: slow-appearance 2s forwards, fadeOut 8s forwards;
    animation-delay: 0s, 2s;
  }
  
  @keyframes slow-appearance {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
 /**/
/*************welcom session***********?*/


.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
 }
 
 .container .content{
    text-align: center;
 }
 
 .container .content h3{
    font-size: 30px;
    color:#333;
 }
 
 .container .content h3 span{
    background: crimson;
    color:#fff;
    border-radius: 5px;
    padding:0 15px;
 }
 
 .container .content h1{
    font-size: 50px;
    color:#333;
 }
 
 .container .content h1 span{
    color:crimson;
 }
 
 .container .content p{
    font-size: 25px;
    margin-bottom: 20px;
 }
 
 .container .content .btn{
    display: inline-block;
    padding:10px 30px;
    font-size: 20px;
    background: #0082e6;;
    color:#fff;
    margin:0 5px;
    border-radius: 5px;
    text-transform: capitalize;
 }
 
 .container .content .btn:hover{
    background-color: rgba(255, 255, 255, 0.05);
   border: 1px solid rgba(255, 255, 255, 0.1);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(20px);
   color: #000000;
   border: 1px solid rgb(84, 79, 243);
 }

/**********end welcome session*********/



/*ABOUT US*/

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex:1;
    margin-right: 40px;
    overflow: hidden;
    margin-top: 40px;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
    border-radius: 6px;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex:1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
    
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color:#666;
}
.about-content .donate-now{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 19px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: 0.3s ease;
    background-color: #0082e6;
}
.donate-now:hover{
    background: white;
    border: 1px solid white;
    transition: .4s; 
    background-color: #1b9bff;
    font-size: 20px;
}


.contact-us{
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .heading{
        padding:0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content.donate-now{
        font-size: 16px;
    }
}



   /* Add some basic styling to the table */
   table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #333;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f2f2f2;
}

/***** Upcoming events *****/ 



form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label {
    margin-bottom: 10px;
}

input[type="text"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #006effbd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1a60b6;
}

/***** Upcoming Events *****/
/***** h2 title Section *****/  

.h2title{
text-align: center;
margin: 10px;
}

/***** End h2 title Section *****/

/***** image event Section *****/  
.event-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

/***** End Section *****/


/*****  EDIT/DELETE EVENTSection *****/  

.edit-link {
    color: #ffffff; 
    background-color: #007bffc3;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
  
  }
  
  .edit-link:hover {
    color: white;
    background-color: #007bff;
    font-size: large;

  }
  
  .delete-link {
    color: #ffffff; 
    background-color: crimson;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
 
  }
  
  .delete-link:hover {
    color: white;
    background-color: red;
    font-size: large;
  }

/***** End Section *****/


/***** Attend event Section *****/


.attend-btn{
    color: #ffffff; 
    background-color: #007bffc3;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  
  }
  
  .attend-btn:hover {
    color: white;
    background-color: #007bff;

  }
/***** End Section *****/


/***** from visit Section *****/


input{
    padding: 10px;
    border-radius: 5px;
}
.form-visit{
    text-align: left;
}
.purpose{
    padding: 10px;
    border-radius: 5px;
}

/***** End Section *****/


/*****adoption form Section *****/
.adoption-form ,input{
    width: -webkit-fill-available;
    border-radius: 10px;
    border: 1px solid #dedede;

}
.adoption-form ,select{
    width: -webkit-fill-available;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;    
    padding: 10px;
}

.adoption-form, h3{
    text-align: center;
}
/***** Endadoption form Section *****/




